.home{
  height: 100%;
  width: 100%;
  .banner{
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    img{
      width: 100%;
      
    }
    .details{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      
      .subheading{
        position:absolute;
        top: 10px;
        width: 190px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .category{
          text-transform: uppercase;
          color: #2551EE;
        }
        p{
          font-size: 15px;
        }
        .circle{
          width: 7px;
          height: 7px;
          background-color: #2551EE;
          border-radius: 10px;
        }
      }
      .heading{
        white-space: normal;
        display: flex;
        h3{
          font-weight: lighter;
          font-size: 3rem;
          word-break: normal;
          width: 75%;
          margin: 4% 0;
        }
      }
      
    }
    
  }
  .grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1.1% 0;

    .card{
      height: 100%;
      overflow: hidden;
      img{
        cursor: pointer;
        width: 100%;
      }
      

      .details{
        height: 30%;
        width: 100%;
        position: relative;
        
        .subheading{
          height: 16%;
          width: 40%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          top: 12px;
          left: 0;
          .category{
            width: 35%;
            text-transform: uppercase;
            color: #2551EE;
          }
          
          .circle{
            width: 7px;
            height: 7px;
            background-color: #2551EE;
            border-radius: 10px;
            }

            .date{
              width: 45%;
            }
        }
        .title{
          width: 100%;
          display: flex;
          flex-direction: column;
          white-space: normal;

          h5{
            font-size: 2.7rem;
            font-weight: lighter;
            word-break: normal;
            margin: 11% 0;
          }
        }
        
      }
  
      
    }
    
    

    
  }
}

